body {
  // background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.spawnmanager {
  background: #22344f8a;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
  .spawns {
    display: flex;

    .city-hospital {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;

      margin-top: 11rem;
      margin-left: 1rem;

      font-size: 2em;
      color: #ff6262;
      padding: 0.2rem;
      border: solid 0.1rem #c8c8c8;
    }

    .police-department {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;

      margin-top: 13rem;
      margin-left: 1.5rem;

      font-size: 2em;
      color: #78c4ff;
      padding: 0.2rem;
      border: solid 0.1rem #c8c8c8;
    }

    .docks {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;

      margin-top: 23rem;
      margin-left: 3.6rem;

      font-size: 2em;
      color: #91b6ff;
      padding: 0.2rem;
      border: solid 0.1rem #c8c8c8;
    }

    .burger {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;

      margin-top: 12rem;
      margin-left: -6rem;

      font-size: 2em;
      color: #ffaa85;
      padding: 0.2rem;
      border: solid 0.1rem #c8c8c8;
    }

    .airfield {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;

      margin-top: 20rem;
      margin-left: -6rem;

      font-size: 2em;
      color: #c8c8c8;
      padding: 0.2rem;
      border: solid 0.1rem #c8c8c8;
    }
  }

  img {
    position: fixed;
    z-index: -1;
    width: auto;
    height: auto;
  }

  .selected {
    position: absolute;
    margin-top: 62rem;

    a {
      opacity: 0.6;
      background: rgba(72, 72, 72, 0.503);
      border-radius: 0.5rem;

      padding: 1rem 3rem;
      font-size: 1.4;

      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      color: #ffffff;

      &.active {
        background: #12b868;
        opacity: 1;
      }
    }
  }
}
