<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <section class="spawnmanager">
      <div class="locations">
        <div class="location">
          <img class="location-image pd" />
          <p class="location-text">Police Department</p>
          <a class="location-button" href="/policeDepartment">Spawn</a>
        </div>

        <div class="location">
          <img class="location-image legion" />
          <p class="location-text">Legion Square</p>
          <a class="location-button" href="/legionSquare">Spawn</a>
        </div>

        <div class="location">
          <img class="location-image hospital" />
          <p class="location-text">City Hospital</p>
          <a class="location-button" href="/cityHospital">Spawn</a>
        </div>
      </div>
    </section>
  </body>
</html>
