<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <form
      action="https://alta-core-front/allowRegistration"
      method="post"
      class="form"
    >
      <div class="header">
        <h1 class="title">Create an RP character</h1>
      </div>

      <div class="field">
        <input
          class="textbox"
          type="text"
          name="firstname"
          id="firstname"
          placeholder="First name"
          required
        />
      </div>

      <div class="field">
        <input
          class="textbox"
          type="text"
          name="secondname"
          id="secondname"
          placeholder="Second name"
          required
        />
      </div>

      <div class="field">
        <input
          class="textbox"
          type="text"
          name="lastname"
          id="lastname"
          placeholder="Last name"
          required
        />
      </div>

      <div class="field">
        <input
          class="textbox"
          type="date"
          name="birthdate"
          id="birthdate"
          min="2000-01-01"
          max="2025-01-01"
          required
        />
      </div>

      <div class="field">
        <button class="button" type="submit">Register</button>
      </div>
    </form>

    <script src="js/index.js"></script>
  </body>
</html>
