@import url('https://fonts.cdnfonts.com/css/variada-tfb');
@import url('https://fonts.cdnfonts.com/css/agency-fb');

.deathscreen {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('https://i.imgur.com/xlWzxbf.png');
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100vh;

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;

        transform: skewY(-8deg);

        background: #101010;
        border-radius: 1rem;
        box-shadow: 0rem -0rem 2rem #0a0909;

        gap: 1.5rem;
        padding: 4rem;

        .text-wrapper {
            .text {
                font-family: 'Variada tfb', sans-serif;
                font-size: 6em;
                font-weight: normal;

                text-shadow: 0 0 1rem #a21212;
                color: #a21212;
            }

            .respawn {
                display: flex;
                justify-content: center;

                font-family: 'Changa One', sans-serif;
                font-size: 2em;

                text-shadow: 0 0 0.2rem rgb(0, 0, 0);
                color: rgb(105, 105, 105);
            }

            .timer-text {
                font-family: 'Agency FB', sans-serif;
                font-size: 2em;
                font-weight: normal;

                text-shadow: 0 0 1rem #a7a7a7;
                color: #f4f4f4;
            }
        }

        .timer-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 60%;
            background: #4a1111;
            box-shadow: 0 0 1rem #0e0e0e;
            .timer-bar {
                transition: 0.5s ease-out;
                padding: 0.4rem 0;

                background: #991717;
                width: 30%;
            }
        }
    }
}
