@import url('https://fonts.cdnfonts.com/css/changa-one');
@import url('https://fonts.cdnfonts.com/css/somerton-dense');

.deathscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1ae4;
  width: 100%;
  height: 100vh;
}

.deathscreen .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  flex-direction: column;
}

.deathscreen .container .text-wrapper .text {
  font-family: 'Somerton Dense', sans-serif;
  font-size: 8em;

  display: flex;
  align-items: center;
  justify-content: center;

  text-shadow: 0 0 0.2rem #0b0b0b;
  color: #e64747b3;

  word-spacing: 0.4rem;
}

.deathscreen .container .text-wrapper .respawn-text {
  font-family: 'Somerton Dense', sans-serif;
  font-size: 2.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  text-shadow: 0 0 0.2rem #0b0b0b;
  color: #ececec;

  word-spacing: 0.4rem;
}

.deathscreen .container .timer-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  background: #000000a9;
  width: 40rem;
}

.deathscreen .container .timer-wrapper .timer {
  padding: 0.6rem 0;
  width: 30%;
  transition: all 0.4s ease-in-out;
  background: #e64747b3;
}
