@font-face {
  font-family: Chalet;
  src: url('../assets/chalet.woff') format('woff');
}

.hud {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  width: 100%;
  height: 100vh;
}

.hud .card {
  display: flex;
  align-items: center;

  margin: 2rem;
  padding: 0.4rem 2rem;

  gap: 1rem;

  border-top: solid 0.4rem rgb(0, 191, 255);

  background: rgb(41, 41, 41);
  box-shadow: -0rem 0.4rem 0.6rem rgba(10, 10, 10, 0.5);
}

.hud .card .icon svg {
  margin-top: 0.2rem;
  width: 2.5rem;
  height: 2.5rem;

  color: rgb(204, 204, 204);
}

.hud .card .cash h2 {
  font-family: 'Chalet', sans-serif;

  font-size: 2em;
  font-weight: normal;

  color: rgb(255, 255, 255);
}

@media screen and (max-width: 2000px) {
  .hud .card {
    gap: 0.5rem;
  }
  
  .hud .card .icon svg {
    width: 2rem;
    height: 2rem;
  }

  .hud .card .cash h2 {
    font-size: 1.6em;
  }
}
